.App {
  text-align: center;
}



ul {
  list-style-type: none;
}

aside{
  float: left;
  text-align: center;
  border-style: solid;
  padding-top: 50px;
  padding-bottom: 200px;
  padding-right: 5px;
  background-color: lightslategrey;
  
}

.current-message{
  padding:10px;

}

.room-title{
  text-transform: uppercase;
}


input[type=text]{
  width: 50%;
}

.display-room-list{
  text-align: left;
  font-weight: bold;
}

main{
  background-color:lightgrey;
}

.MessageList {
  text-align: left;
  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
